<!-- <span>image</span><input type="text" [(ngModel)]="image">
<br>
<span>alt</span><input type="text" [(ngModel)]="alt">
<button (click)="toggleCount()">Toggle image</button>
{{showCount}}
<app-img *ngIf="showCount" [image]="image" [alt]="alt" ></app-img>
<hr> -->
<app-navbar></app-navbar>
<button (click)="createUser()" >Create User</button>
<br>
<app-home>











<!-- <h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm = 'ngForm'>
  <div class="input--group">
    <label>Nombre</label>
    <input type="text" name="name" id="name" required [(ngModel)]="register.name">
    <p>Error</p>
  </div>
  <div class="input--group">
    <label>Email</label>
    <input type="text" name="email" id="email" required [(ngModel)]="register.email">
    <p>Error</p>
  </div>
  <div class="input--group">
    <label>Contraseña</label>
    <input type="password" name="password" id="password" required [(ngModel)]="register.password">
    <p>Error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Evento</button>
</form>

<hr>
<h1>NgStyle & NgClass</h1>
<input type="text" required #inputName="ngModel" [(ngModel)]='name'>
<hr class="hr--error"
[ngClass]="{
  'valid':inputName.valid,
  'invalid':inputName.invalid
}"/>
<p class="message-error" [class.active]="inputName.invalid">Este campo es obligatorio</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]='box.hancho'>
    <input type="number" [(ngModel)]='box.alto'>
    <input type="color" [(ngModel)]='box.color'>
  </div>
  <div [ngStyle]="{
    'width.px':box.hancho,
    'height.px':box.alto,
    'background-color':box.color,
    'display':'block'
  }">
  </div>
</div>


<h1>Class and Styles</h1>
<input type="text" required #inputName="ngModel" [(ngModel)]='name'>
<p class="message-error" [class.active]="inputName.invalid">Este campo es obligatorio</p>
<hr>
<h1>ngSwitch</h1>
<input type="text"[(ngModel)]="name" >
<div [ngSwitch]="name.toLowerCase()">
  <p *ngSwitchCase="'juan'">juan</p>
  <p *ngSwitchCase="'maria'">maria</p>
  <p *ngSwitchCase="'carlos'">carlos</p>
</div>

<hr>


<h1>*ngFor obj</h1>
<ul class="products--grid">
  <li *ngFor="let prod of products">
    <img [src]="prod.image" alt="acá deberia ir una imagen">
    <h2>{{prod.price}}</h2>
    <p>{{prod.name}}</p>
  </li>
</ul>
<hr>

<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName" >
<button (click)="addName()">ADD NAME</button>
<ul>
  <li *ngFor="let emoji of emojis; index as i">{{i+1}} {{emoji=='🐦'?'😂':emoji}}</li>
</ul>
<ul>
  <li *ngFor="let name of names; index as a">{{a}} {{name}}  <button (click)="deletName(a)">x</button></li>
</ul>


<hr>


<h1>*ngIf</h1>
<input type="text" [(ngModel)]="name" >
<p *ngIf="name.toLowerCase() === 'carlos' && age === 20; else myBlock ">Soy Carlos</p>
<p *ngIf="name.toLowerCase() === 'maria' ">Soy Maria</p>
<ng-template #myBlock>
  <p>Bloque else</p>
</ng-template>


<hr>


<h1>NG model</h1>
<h3>Nombre: {{name}}</h3>
<input type="text" required #nameInput="ngModel" [(ngModel)]="name" >
<p>Valid: {{nameInput.valid}}</p>
<h3>Edad: {{age}}</h3>
<input type='number' min="10" max="40" required #ageInput="ngModel" [(ngModel)]="age">
<p>Valid: {{ageInput.valid ?'Todo correcto':'edades validas solo entre 10 - 40 años'}}</p>


<hr/>


<h1>Eventos</h1>
<button (click)="aumentAge()" [disabled]="btDes">Age +</button>
<button (click)="toogleButton()">Tooge button</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias libero, cum voluptates impedit est qui nemo aspernatur commodi illo ullam corporis error deleniti maxime numquam explicabo nesciunt obcaecati quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio unde nulla eaque at sint laborum magni voluptatem, quo velit? Quibusdam nemo aperiam architecto sequi ratione ab. Dolore quis rem iste!</p>
</div>
<h3>Nombre: {{name}}</h3>
<input type="text" [value]="name" (keyup)="onChange($event)">

<hr/>


<h1>Propiedades</h1>
<button [disabled]="btDes">enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img [src]="imagen" width='100px' alt="">


<hr/>


<h1>Hola mundo, soy {{name}} y tengo {{age}}años de edad</h1>
<img src={{imagen}} width='100px' [alt]="name"> -->
