<div *ngIf="detail" class="product-detail" [class.active]="showDetail">
  <button (click)="clickShowDetai()" >Close</button>
  <h1>{{detail.title | uppercase}}</h1>
  <h2>{{detail.price | currency:'USD'}}</h2>  <!-- Pipe, es la forma de transformar algo sin cambiarlo por completo en si -->
  <section>
    <img *ngFor="let ele of detail.images" [src]="ele" alt="imagen"/>
  </section>
  <p>{{detail.description}}</p>
  <button (click)="updtaeProd()" >Edit</button>
  <button (click)="deleteProd()" >Delete</button>
</div>
<div>
<button (click)="showMore()" >Show more</button>
</div>
