<div class="show-mobile">
  <div>
    <button (click)="changeShowMenu()">
      ⚙️
    </button>
    <a href="#">
      🏠
    </a>
    <div>
      <div class="counter">{{counterFav}}</div>
      <a href="#">❤️</a>
      <div class="counter">{{counter}}</div>
      <a href="#">
        🛒
      </a>
    </div>

  </div>
</div>

<div class='side-menu' [class.active]="showMenu" >
  <button (click)="changeShowMenu()">Close</button>
  <ul>
    <li><a href="#">All</a></li>
    <li><a href="#">Clothes</a></li>
    <li><a href="#">Electronics</a></li>
  </ul>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a href="#" class="logo">
        🏠
      </a>
      <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Clothes</a></li>
        <li><a href="#">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="acount">
        <button *ngIf="!profile; else elseBlock" (click)="login()" >Login</button>
        <ng-template #elseBlock >{{profile?.email}}</ng-template>
      </div>
      <div>
        <a href="#">❤️</a>
      </div>
      <div class="counter">{{counterFav}}</div>
      <div>
        <a href="#">🛒</a>
      </div>
      <div class="counter">{{counter}}</div>
    </div>
  </div>
</div>
